<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board </title>
</head>
<body>
    <h2>Clubs points : </h2><a href="{{ url_for('purchase_places') }}">Book</a><a href="{{ url_for('logout') }}">Logout</a>
    <table>
        <thead>
            <tr>
                <th>Club's name</th>
                <th>Club's points</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>